
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;700;900&display=swap');



body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: 80px;
    display: flex;
    
}

.logo {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 80px;
}

.campo {
    display: flex;
    justify-content: center;
    width: 420px;
    height: 80px;
    
}

.campo input {
    width: 350px;
    height: 18px;
    margin-top:26px;
    border: 0px;
    border-bottom: 1px solid #000;
    outline: 0;
}

.campo span {
    margin-top: 18px;
}


.conta{
    display: flex;
    justify-content: center;
    width: 360px;
    height: 80px;
    text-align: center;
    
}

.conta span {
    margin-top: 28px;
}

.conta button {
    height: 30px;
    margin-top: 26px;
    font-size: 13px;
    color: #7A7A7A;
    border: 0;
    cursor:pointer;

}

.carrinho {
    width: 300px;
    height: 80px;
}

.carrinho span {
    margin-top: 26px;
}


.banner {
    display: flex;
    height: 430px;
    
}

.banner .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width:720px ;
}

.titulo .p1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0px;
    margin-right: -30px;
    margin-bottom: 10px;
}

.titulo .p2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: #FFFFFF;
    margin: 0px;
    line-height:45px;
    
    
}

.banner .imagem {
    background-image: url(image/banner.png);
    width: 720px;
    height:430px;
    background-repeat: no-repeat;
    
}

h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    margin: 0px;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 220px;
    
}

.borda {
    width: 65px;
    height: 3px;
    background-color:#C0C0C0;
    margin: 0px;
    margin-left: 220px;
}

.prateleira0 {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.prateleira {
    width: 1000px;
    height: 354px;
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    
    
}

.sapato {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 216px;
}

.sapato .sapato1{
    width: 214px ;
    height: 200px;
    background-image: url(image/sapato.png);
    background-size: 100%;
}

.sapato .p1 {
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin:0px;
    
}

.sapato .star {
    width: 75px;
    height: 10px;
}

.star span {
    color: #F8475F;
    font-size: 10px;
    
}

.sapato .p2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0px;
    margin-top: 23px;
}

.sapato .p3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #7A7A7A;
    margin-top: 4px;
}

.sapato button {
    font-weight: 700;
    width: 124px;
    height: 32px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.sandalia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 216px;

}

.sandalia .sandalia1{
    width: 214px ;
    height: 200px;
    background-image: url(image/sandalia.png);
    background-size: 100%;
}

.sandalia .p1 {
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin:0px;
    
}

.sandalia .star {
    width: 75px;
    height: 10px;
}

.star span {
    color: #F8475F;
    font-size: 10px;
    
}

.sandalia .p2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0px;
    margin-top: 23px;
}

.sandalia .p3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #7A7A7A;
    margin-top: 4px;
}

.sandalia button {
    font-weight: 700;
    width: 124px;
    height: 32px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}


.bota {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 216px;
}

.bota .bota1{
    width: 214px ;
    height: 200px;
    background-image: url(image/bota.png);
    background-size: 100%;
}

.bota .p1 {
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin:0px;
    
}

.bota .star {
    width: 75px;
    height: 10px;
}

.star span {
    color: #F8475F;
    font-size: 10px;
    
}

.bota .p2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0px;
    margin-top: 23px;
}

.bota .p3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #7A7A7A;
    margin-top: 4px;
}

.bota button {
    font-weight: 700;
    width: 124px;
    height: 32px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}



.cinto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 216px;
}

.cinto .cinto1{
    width: 214px ;
    height: 200px;
    background-image: url(image/cinto.png);
    background-size: 100%;
}

.cinto .p1 {
    font-size: 12px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    text-align: center;
    margin:0px;
    
}

.cinto .star {
    width: 75px;
    height: 10px;
}

.star span {
    color: #F8475F;
    font-size: 10px;
    
}

.cinto .p2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0px;
    margin-top: 23px;
}

.cinto button {
    font-weight: 700;
    width: 124px;
    height: 32px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 30px;
    cursor: pointer;
}

#news {
    display: flex;
    justify-content: center;
    height: 146px;
    margin-top: 68px;
    
}



#news p {
    font-size: 22px;
    font-weight: 700;
    margin: 0px;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #333333;
    text-align: center;
}

#news input {
    width:240px ;
    height: 38px;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}

#news #btn {
    width: 120px;
    height: 38px;
    color: #FFFFFF ;
    background-color: #333333;
    border-radius: 5px ;
    cursor: pointer;
    

}

#cadastro {
    display: none;
    height: 146px;
    justify-content: center;
    background-color:green;
}

#cadastro .cadastrado {
    height: 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastrado .p1 {
    font-size: 14px ;
    margin: 0;
    margin-top: 32px;
    font-weight: 700;
}

.cadastrado .p2 {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
}

.cadastrado #btnNovo {
    font-size: 12px;
    font-weight: 700;
    color: #FFFFFF;
    width: 328px ;
    height: 48px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #000000;
}

footer {
    display: flex;
    justify-content: center;
    height: 224px;
    background-color: #000000;
    
}

footer div {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer .local {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#000000;

}

footer .p1 {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0px;
}

footer .linha {
    width: 44px;
    height: 3px;
    background-color: #FFFFFF;
    margin: 0px;
    margin-top: 16px;

}

footer .p2 {
    font-size: 13px;
    font-weight: 400;
    margin: 0px;
    margin-top: 20px;
    color: #FFFFFF;
}

footer .contato {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}



.contato button {
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 194px;
    height: 38px;
    font-weight: 600;
    font-size: 12px;
    margin-top: 25px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    
}

.contato button span {
    margin-right: 10px;
}


footer .criado {
    width: 300px;
    display: flex;
    align-items: center;
    background: #000000;
}

.criado .p1 {
    font-size: 10px ;
    margin: 0px;
    margin-right: 36px;
}

.criado .p2 {
    font-size: 10px;
    margin: 0px;
}


@media (max-width:320px){
    header{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction:column;
        align-items: center;
    }

    .logo {
        width: 100px;
        height: 24px;
        margin-top: 10px;
        margin-bottom: 15px;
        
    }
    .logo img {
        width: 100px;
    }

    .campo {
        display: flex;
        justify-content: center;
        width: 320px;
        height: 20px;
        margin: 0px;
        
    }
    
    .campo input {
        width: 250px;
        height: 18px;
        border: 0px;
        border-bottom: 1px solid #000;
        outline: 0;
        margin: 0px;
    }
    
    .campo span {
        margin-top:0px;
    }

    .carrinho,
    .conta {
        display: none;
    }



    .banner {
        display: flex;
        width: 100%;
        height: 192px;
        
    }

    .banner .titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image:url(image/bannerMobile.png);
        width:720px ;
    }

    .banner .imagem {
        display: none;
    }
    
    
    .titulo .p1 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: #FFFFFF;
        margin: 0px;
        margin-bottom: 10px;
    }
    
    .titulo .p2 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 900;
        font-size: 30px;
        color: #FFFFFF;
        margin: 0px;
        line-height:30px; 
    }



    h4 {
        font-size: 18px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 900;
        margin: 0px;
        margin-top: 25px;
        margin-bottom: 5px;
        margin-left: 20px;
        
    }
    
    .borda {
        width: 65px;
        height: 3px;
        background-color:#C0C0C0;
        margin: 0px;
        margin-left: 20px;  
    }


    .prateleira0 {
        width: 100%;
        height: 300;
        display: flex;
        justify-content: center;
        
    }
    
    .prateleira {
        width: 306px;
        height: 280px;
        margin-top: 26px;
        display: flex;
        justify-content: space-between;
        
        
    }
    
    .sapato {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 132px;
    }
    
    .sapato .sapato1{
        width: 132px ;
        height: 122px;
        background-image: url(image/sapato.png);
        background-size: 100%;
    }
    
    .sapato .p1 {
        font-size: 10px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        text-align: center;
        margin:0px;
        
    }
    
    .sapato .star {
        width: 75px;
        height: 10px;
    }
    
    .star span {
        color: #F8475F;
        font-size: 10px;
        
    }
    
    .sapato .p2 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin: 0px;
        margin-top: 20px;
    }
    
    .sapato .p3 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #7A7A7A;
        margin-top: 4px;
    }
    
    .sapato button {
        font-weight: 700;
        width: 140px;
        height: 36px;
        background-color: #000000;
        color: #FFFFFF;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    
    .sandalia {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 132px;
    
    }
    
    .sandalia .sandalia1{
        width: 132px ;
        height: 122px;
        background-image: url(image/sandalia.png);
        background-size: 100%;
    }
    
    .sandalia .p1 {
        font-size: 10px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        text-align: center;
        margin:0px;
        
    }
    
    .sandalia .star {
        width: 75px;
        height: 10px;
    }
    
    .star span {
        color: #F8475F;
        font-size: 10px;
        
    }
    
    .sandalia .p2 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin: 0px;
        margin-top: 20px;
    }
    
    .sandalia .p3 {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #7A7A7A;
        margin-top: 4px;
    }
    
    .sandalia button {
        font-weight: 700;
        width: 140px;
        height: 36px;
        background-color: #000000;
        color: #FFFFFF;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    
    
    .bota {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 216px;
    }
    
   
    .cinto {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 216px;
    }



    #news {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 340px;
        margin: 0px;
        
        
    }

    #news div {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    
    #news p {
        font-size: 22px;
        font-weight: 700;
        margin: 0px;
        margin-top: 24px;
        margin-bottom: 19px;
        color: #333333;
        text-align: center;
    }
    
    #news input {
        width:288px ;
        height: 48px;
        border-radius: 5px;
        border: 0;
        margin-top: 8px;
        padding-left: 16px;
    }

    
    #news #btn {
        width: 288px;
        height: 48px;
        margin: 0px;
        margin-top: 7px;
        color: #FFFFFF ;
        background-color:#000000;
        border-radius: 5px ;
        cursor: pointer;
    
}

    #news form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    #cadastro {
        display: flex;
        display: none;
        height: 146px;
        justify-content: center;
        background-color:green;
    }
    
    #cadastro .cadastrado {
        width: 300px;
        height: 1146px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .cadastrado .p1 {
        font-size: 14px ;
        margin: 0;
        margin-top: 32px;
        font-weight: 700;
    }
    
    .cadastrado .p2 {
        font-size: 12px;
        margin: 0;
        font-weight: 400;
    }
    
    .cadastrado #btnNovo {
        font-size: 12px;
        font-weight: 700;
        color: #FFFFFF;
        width: 288px ;
        height: 48px;
        margin-top: 15px;
        border-radius: 5px;
        background-color: #000000;
    }



    footer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 380px;
        background-color: #000000;
        margin-top: 10PX;
        
    }
    
    footer div {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100%;
        margin: 0px;
        
    }
    
    footer .local {
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color:#000000;
        margin-top: 27px;
    
    }
    
    footer .p1 {
        font-size: 18px;
        font-weight: 700;
        color: #FFFFFF;
        margin: 0px;
    }
    
    footer .linha {
        width: 44px;
        height: 3px;
        background-color: #FFFFFF;
        margin: 0px;
        margin-top: 16px;
    
    }
    
    footer .p2 {
        font-size: 13px;
        font-weight: 400;
        margin: 0px;
        margin-top: 20px;
        color: #FFFFFF;
    }
    
    footer .contato {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000;
        margin: 0px;
    }
    
    .contato button {
        width: 198px;
        height: 38px;
        font-weight: 600;
        font-size: 12px;
        margin: 0px;
        margin-top: 26px;
        border-radius: 5px;
        padding: 5px;
        
    }
    
    footer .criado {
        width: 300px;
        display: flex;
        justify-content: center;
        background: #000000;
        margin-top: 24px;
    }

    .criado div {
        display: flex;
        flex-direction: row;
        justify-content:center;
    }
    
    .criado .p1 {
        width: 100px;
        font-size: 10px ;
        margin: 0px;
        
        
    }
    
    .criado .p2 {
        width: 100px;
        font-size: 10px;
        margin: 0px;
        text-align: end;

        
    }





}
